<div style="text-align: center;">
  <h1 style="font-weight: bold;">MESCO</h1>
</div> 

<div>

 <div class="tabs"></div>
   <div>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="end">
             <mat-tab label="Home"></mat-tab>
             <mat-tab label="Fyq"></mat-tab>
             <mat-tab label="profile"></mat-tab>
        </mat-tab-group>
  </div>


 <div>
   <mat-tab-group animationDuration="0ms">
      <mat-tab label="Scheme"></mat-tab>
     <mat-tab label="Family Id"></mat-tab>
     <mat-tab label="Student Id"></mat-tab>
   </mat-tab-group>
 </div>

 <section>
   <div class="label"></div>
   <div class="button-row">
      <button mat-raised-button color="red">Application</button>
      <button mat-raised-button color="red">Personal</button>
      <button mat-raised-button color="red">Education</button>
      <button mat-raised-button color="red">Family</button>
      <button mat-raised-button color="red">Transaction</button>
   </div>
 </section>
 <br>
 <br>
  
 <div class="container">
  <div class="form-container">
    <h2>Family Information</h2>
    <form action="">
      <div class="flex">
        <mat-form-field class="w-full">
          <mat-label>First Name</mat-label>
          <input type="text" matInput placeholder="First Name">
        </mat-form-field>
        <br>
        <mat-form-field class="w-full">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput placeholder=" Last Name">
        </mat-form-field>
        <br>
        <mat-form-field class="w-full">
          <mat-label>Relation</mat-label>
          <input type="text" matInput placeholder="Relation">
        </mat-form-field>
        <br>
        <mat-form-field class="w-full">
          <mat-label>Occupation</mat-label>
          <input type="text" matInput placeholder="Occupation">
        </mat-form-field>
        <br>
        <mat-form-field class="w-full">
          <mat-label>Education</mat-label>
          <input type="text" matInput placeholder="Education">
        </mat-form-field>
        <br>
      </div>
    </form>
  </div>
  <!-- Second half -->
  <div class="form-container">
    <h2>
      <br>
    </h2>
    <form action="">
      <div class="flex">
        <mat-form-field class="w-full">
          <mat-label>Age</mat-label>
          <input type="text" matInput placeholder="Age">
        </mat-form-field>
        <br>
        <mat-form-field class="w-full">
          <mat-label>Income</mat-label>
          <input type="text" matInput placeholder="Income">
        </mat-form-field>
        <br>
        <mat-form-field class="w-full">
          <mat-label>Expenses</mat-label>
          <input type="text" matInput placeholder="Expenses">
        </mat-form-field>
        <br>
        <mat-form-field class="w-full">
          <mat-label>Name of Institute</mat-label>
          <input type="text" matInput placeholder="Name of Institute">
        </mat-form-field>
        <br>
      </div>
    </form>
  </div>
</div>
<h1>Address</h1>
<mat-form-field class="w-full">
  <mat-label>Address</mat-label>
  <input type="text" matInput placeholder="Address">
</mat-form-field>
<br>
<mat-form-field class="w-full">
  <mat-label> Office Address</mat-label>
  <input type="text" matInput placeholder="Office Address">
</mat-form-field>
<br>
<mat-form-field class="w-full">
  <mat-label> Note</mat-label>
  <input type="text" matInput placeholder="Note">
</mat-form-field>
<br>
<div class="button-container">
  <button mat-raised-button color="primary" class="custom-button">Save</button>
  <button mat-raised-button color="primary" class="custom-button">Update</button>
</div>

</div>
